.inbox-main-container {
    margin: 0 3rem 0 3rem;
    font-size: inherit;
    padding: 1rem;
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "pic snapshot"
        "match-options null"
        "bio bio "
        "settings settings "; */
    gap: 1rem;
    justify-items: center;
    align-items: center;
    border: 1px solid #555;
    box-shadow: 3px 3px 3px 3px #333;
    border-radius: 25px;
}

.threadCard {
    border-bottom: 1px solid #3335;
    width: 80%;
    display: grid;
    padding: .5rem;

}

.threadCard img {
    height: 128px;
    width: 128px;
}