body {
    background-color: whitesmoke !important;
}

.darkTheme {
    background-color: #222 !important;
    color: whitesmoke !important;
}

.navDarkTheme {
    color: whitesmoke !important
}

.toggleContainer {
    width: fit-content;
    margin: 0;
    text-justify: center;
    position: relative;
    top: 5px;
}

.toggle-switch {
    position: relative;
    width: 75px;
    display: inline-block;
    text-align: left;
    /* top: 8px; */
    font-size: .8rem !important;
    position: relative;
    top: 10px;
    /* box-shadow: 3px 3px 3px 3px #333; */
    border-radius: 999px;
    border: none
}

.checkbox {
    display: none;
}

.label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    /* border: 1px solid #bbb; */
    box-shadow: 3px 3px 3px 3px #333;

    /* border-radius: 20px; */
    border-radius: 999px;


}

.inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.inner:before,
.inner:after {
    float: left;
    width: 50%;
    height: 36px;
    padding: 0;
    line-height: 36px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
}

.inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #bbb;
    color: #222;
    font-family: inherit;
}

.inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #222;
    color: #fff;
    text-align: right;
    font-family: inherit;


}

.switch {
    display: block;
    width: 24px;
    margin: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    /* border: 1px solid #444; */
    box-shadow: 1px 1px 1px #444;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.checkbox:checked+.label .inner {
    margin-left: 0;
}

.checkbox:checked+.label .switch {
    right: 0px;
}