.profile-page-main-container {
    border: 1px solid #3335;
    margin: 0 1rem 0 1rem;
    display: grid;
    gap: 1rem;
    font-size: 1rem;
    padding: 1rem;
}

.profile-page-main-container>* {
    border: 1px solid red;
    padding: 1rem;
}

.pic-container {}

.pic-container img {
    border-radius: 100%;
}

.snapshot-container-container {}

.bio-details-container {}

.edit-save-btn {}

.edit-save-btn:hover {
    cursor: pointer;
}