*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.discoverContainer {
  margin: 0 3rem 0 3rem;
  font-size: inherit;
  padding: 1rem;
  display: grid;

  gap: 1rem;
  justify-items: center;
  align-items: center;
  border: 1px solid #555;
  box-shadow: 3px 3px 3px 3px #333;
  border-radius: 25px;
}

.usersContainer {
  padding: 40px 10px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
}

.user {
  text-align: center;
  border: 5px solid #222;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
}

.user:hover {
  text-decoration: underline;
}

h2,
h5,
h6,
img {
  pointer-events: none;
}

.singleUserContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: grid;
  align-items: center;
  text-align: center;

  background-color: rgba(255, 253, 253, 0.772);
  padding: 40px;
}

.singleUserModal {
  border: 1px solid #555;
  box-shadow: 3px 3px 3px 3px #333;
  border-radius: 25px;
  background-color: white;
  padding: 10px;
}


.singleUserModalDarkTheme {
  background-color: #333;
}


.searchContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: grid;
  align-items: center;
  text-align: center;

  background-color: rgba(255, 253, 253, 0.772);
  padding: 40px;
}

.searchModal {
  background-color: white;
  padding: 10px;
  border: 1px solid #555;
  box-shadow: 3px 3px 3px 3px #333;
  border-radius: 25px;
  width: 40rem;
  justify-self: center;
}

button {
  cursor: pointer;
}

.closeButton {
  float: right;
  background-color: #9995;
  padding: .5rem;
  border: none;
  border-radius: 1000px;
  text-align: center;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  box-shadow: 3px 3px 3px 3px #333;
}

.submitSearchButton {
  background-color: #9995;
  padding: .5rem;
  border: none;
  border-radius: 1000px;
  text-align: center;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  box-shadow: 3px 3px 3px 3px #333;
}

.header {
  padding: .5rem;
  border: 5px solid #222;
  border-radius: 1000px;
  margin-top: 50px;
  margin-bottom: 30px;
  width: fit-content;
  margin: 0 auto;
}

.content {
  border: 5px solid #222;
  border-radius: 20px;
  margin: 0 auto;
  width: 50rem;
}

.searchContent {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dislikeButton {
  float: left;
  background-color: #9995;
  padding: .5rem;
  border: none;
  border-radius: 1000px;
  text-align: center;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  box-shadow: 3px 3px 3px 3px #333;
}

.likeButton {
  float: right;
  background-color: #9995;
  padding: .5rem;
  border: none;
  border-radius: 1000px;
  text-align: center;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  box-shadow: 3px 3px 3px 3px #333;
}

.searchButton {
  position: absolute;
  right: 3.5em;
  top: 14em;
  background-color: #9995;
  padding: .5rem;
  border: none;
  border-radius: 1000px;
  text-align: center;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  box-shadow: 3px 3px 3px 3px #333;
}

.singleUserPic {
  margin: 40px;
  border: 2px ridge;
  border-color: gray;
  border-width: 8px;
}

.attributeSelect {
  font-size: 20px;
  /* margin-right: 10px; */
}

#gender,
#age,
#distance {
  height: 30px;
  border-radius: 5px;
}

.discoverNav {
  text-align: center;
  position: relative;
  bottom: 0;
  margin: 10px;
}

.navNumbers {
  padding-left: 10px;
  cursor: pointer;
  display: inline-flex;
}

.navNumbers:hover {
  text-decoration: underline;
  color: blue;
}