*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.usersContainer {
  border: 2px ridge;
  border-color: gray;

  border-width: 10px;
  padding: 10px;
  display: grid; 
  grid-auto-flow: row; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
}

.user {
    text-align: center;
    border: 2px ridge;
    border-color: whitesmoke;
    border-width: 10px;
    margin: 10px;
    cursor: pointer;
}
.user:hover {
  text-decoration: underline;
}

h5, h6, img {
  pointer-events: none;
}