:root {
    --font-size: 1.5rem
}

.navbar-container {
    box-sizing: border-box;
    font-size: var(--font-size);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 25px;
    color: #333;
}

.navbar-UL {
    display: flex;
    gap: 1rem;
    list-style: none;
    font-size: inherit;
}

li {
    font-size: inherit;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    transition: all .3s ease-in-out;
    opacity: .3;
}

.nav-link:hover {
    opacity: 1;
    color: inherit;
    /* font-size: 1.8rem; */
    font-size: calc(var(--font-size) + .5rem);
}

.active-tab {
    color: inherit;
    opacity: 1;
    font-weight: bold;
    font-size: calc(var(--font-size) + .5rem);
}

.title {
    text-align: center;
    font-family: 'Lily Script One', cursive;
    font-size: 6rem;
    margin-bottom: 20px;
}

.logo {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    width: 180px;
    height: 180px;
}

.navSpacer {
    opacity: 50%;
}

.userNameSpan{
    font-size: 1.2rem;
    vertical-align:text-top;
    font-family: cursive;
    margin-left: 15px;
    color: rgb(117, 90, 235);
    text-shadow: 2px 2px 4px rgb(22, 73, 149);

}
